<launch>

	<!-- No que transforma comandos de velocidade em comandos para as rodas -->
	<node name="vel_to_wheels" pkg="aai_robotics" type="vel_to_wheels.py" output = "screen" respawn="true" />
	<!--node name="vel_to_wheels" pkg="aai_robotics" type="vel_to_wheels_limited.py" output = "screen" respawn="true" /-->

  	<!-- No que une as informacoes de posicao (gps e imu) em um unico topico -->
	<node name="get_pose_from_sensors" pkg="aai_robotics" type="get_pose_from_sensors.py" output = "screen" respawn="true" />

  	<!-- No que le a posicao e gera comandos de velocidade -->
	<node name="controle_campos_potenciais" pkg="aai_robotics" type="tarefa1_v2.py" output = "screen" respawn="true" />

	<!-- No que controla a posicao da camera pelo hokuyo -->
	<node name="hokuyo_control" pkg="aai_robotics" type="hokuyo_control.py" output = "screen" respawn="true" />

	<!-- Parametros da simulacao para rodar mais leve -->
	<rosparam command="load" file="$(find aai_robotics)/config/simulation_parametersMAISLEVE.yaml" />

</launch>
